
.App {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh 100vh;
  background-color: #fff;
  color: #0D3FA2;
  height: 300vh;
overflow-x: hidden;
}
nav {
  position: fixed;
  margin: 1.5% 0 0 0;
  display: flex;
  width: 100vw;
}
nav ul {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 0 0 70%;
}

nav li {
  padding: 5px;
  color: #A27000;
}
nav a {
  color: #EFB127;
}
nav a:hover {
  cursor: pointer;
  color: #A27000;
}
.box {
  /* background-color: blue; */
  color: black;
  /* border: solid 4px black; */
  /* padding: 20px; */
  font-size: 150%;
}
.title-box {
  margin: 6.5% 0 2% 4%;
  padding: 0 0 10px 0;
  border-bottom: solid 5px #A27000;
  width   : 45%; 
}
.sub-box {
  margin: 0 0 0 4%;
}
.big-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  letter-spacing: -5px;
  line-height: 75px;
  color: white;
}
.subtext {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 30px 0;
  line-height: 27px;
  font-size: 23px;
  max-width: 500px;
  color: #fff;
}
.subtext2 {
  font-family: "Open Sans", sans-serif;
  margin: 88% 0 0 45%;
  line-height: 27px;
  font-size: 23px;
  max-width: 500px;
  color: #fff;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 25.5px;
  width: 12vw;
  height: 55px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  letter-spacing: 8px;
}
.btn1 {
  background: #0D3FA2;
}
.btn1:hover {
  background: #A27000;
}
.btn2 {
  color: #fff;
  background: none;
  border: solid 3px #0D3FA2;
}
.btn2:hover {
  background: #0D3FA2;
  color: white;
}
.btnApply {
  color: #0D3FA2;
  background: #A27000;
  border: solid 3px #A27000;
}
.btnApply:hover {
  color: #A27000;
  background: #0D3FA2;
  /* border: solid 3px #A27000; */
}
.btn3 {
  color: #0D3FA2;
  background: none;
  border: solid 3px #A27000;
}
.btn3a{
  color: #0D3FA2;
}
.btn3a:hover{
  color: #A27000;
}
.btn3:hover {
  background: #A27000;
  color: #0D3FA2;
}
.intro {
  background: url('./images/image5.jpeg');
     background-size:cover;
  grid-column: 1 / 3;
  grid-row: 1;
}

.about {
  background: url('./images/image3.jpeg');
   background-size:cover;
  grid-column: 1;
  grid-row: 2;
}
.info-wrapper {
margin: 25% 0 0 20%;
width: 55%;
height: 40%;
-webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
}
.info-box{
  margin: 0 0 0 35%;
}
.info-box h2{
  margin: 10% 0 0 0;
  font-size: 1.3em;
}
.info-box p{
  font-size: .8em;
}
.name-box{
  margin: 0 0 35px 0;
  color: black;
  width: 70%;
  height: 40px;
  /* background: grey; */
}
.name-box h2{
  padding: 7px 5px;
}
.contact-box li{
  padding: 5px 0;
}
.extra-box{
  font-family: "Open Sans", sans-serif;  
  color: black;
  max-width: 70%;
  margin: 16% 0 0 15%;
}
.infoBox{
  padding: 20px 0;
}
.bluetext{
  color: #0D3FA2;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 15px 0;
}
.subtext3 {

  line-height: 27px;
  font-size: 18px;
  max-width: 500px;
}
.contact{
  color: #0D3FA2;
}
.c {
  background: url('./images/image2.jpeg');  
   background-size:cover;
  grid-column: 2;
  grid-row: 2;
  color: black;
  
}
.e {
  background: #fff;  
  background-size:cover;
  grid-column: 1;
  grid-row: 3;
  
}
.d {
  background: url('./images/image4.jpeg');
   background-position: 50% 50%;  
  color: black;
  grid-column: 1/3;
  grid-row: 3;
}
.p{
  background: #fff;
  grid-column: 2;
  grid-row: 2;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 660px) {
  .about{
  grid-column: 1/3;
  grid-row: 2;
  }
  .c {
  background: url('./images/image2.jpeg');  
   background-size:cover;
  grid-column: 1/3;
  grid-row: 3;
  color: black;
  
}
.e {
  background: #fff;  
  background-size:cover;
  grid-column: 1/3;
  grid-row: 4;
}
.d {
  display: none;
  /* background: url('./images/image4.jpg');
   background-position: center;  
  color: black;
  grid-column: 2;
  grid-row: 3; */
}
.p{
  background: #fff;
  grid-column: 1/3;
  grid-row: 3;
}
    .title-box {
  margin: 25% 0 2% 4%;
  padding: 0 0 10px 0;
  border-bottom: solid 5px #A27000;
  width   : 45%; 
}
.big-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -2px;
  line-height: 30px;
  color: white;
}
nav {
  position: fixed;
  margin: 0 0 0 0;
  display: flex;
  width: 100vw;
}
 nav ul {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 0 0 0;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 25.5px;
  width: 50vw;
  height: 55px;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
  letter-spacing: 8px;
}
} 