
.App {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh 100vh;
  background-color: #660066;
  color: #0D3FA2;
  height: 310vh;
overflow-x: hidden;
overflow-y: hidden;

}
nav {
  position: fixed;
  margin: 1% 0 0 0;
  display: flex;
  width: 100vw;
  z-index:30;
  
}
nav ul {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 0 0 70%;
  z-index:30;
}

nav li {
  padding: 5px;
  color: #A27000;
}
nav a {
  color: #EFB127;
}
nav a:hover {
  cursor: pointer;
  color: #A27000;
}
.box {
  /* background-color: blue; */
  color: black;
  /* border: solid 4px black; */
  /* padding: 20px; */
  font-size: 150%;
}
.title-box {
  margin: 6.5% 0 2% 4%;
  padding: 0 0 10px 0;
  border-bottom: solid 5px #A27000;
  width   : 45%; 
}
.sub-box {
  margin: 0 0 0 4%;
}
.big-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  letter-spacing: -5px;
  line-height: 75px;
  color: white;
}
.subtext {
  font-family: "Open Sans", sans-serif;
  margin: 0 0 30px 0;
  line-height: 30px;
  font-size: 23px;
  font-weight: 600;
  max-width: 500px;
  color: #fff;
}
.subtext2 {
  background: rgb(0, 0, 0, .4);  
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 60% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: 23px;
  font-weight: 600;  
  width: 100%;
  height: 30%;
  color: #fff;
}
.btn {
 padding: 10px 15px;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
}

.btn1 {
  background: #0D3FA2;
}
.btn1 a {
  text-decoration: none;
  color: #fff;
}
.btn1:hover {
  background: #A27000;
}
.btn2 {
  color: #fff;
  background: none;
  border: solid 3px #0D3FA2;
}
.btn2:hover {
  background: #0D3FA2;
  color: white;
}
.btnApply {
  color: #0D3FA2;
  background: #A27000;
  border: solid 3px #A27000;
}
.btnApply:hover {
  color: #A27000;
  background: #0D3FA2;
  /* border: solid 3px #A27000; */
}
.btn3 {
  color: #0D3FA2;
  background: none;
  border: solid 3px #0D3FA2;
}
.btn3a{
  color: #0D3FA2;
}
.btn3a:hover{
  color: #A27000;
}
.btn3:hover {
  background:#0D3FA2;
  color: #fff;
}
.intro {
  background: url('./images/image5.jpeg');
     background-size:cover;
  grid-column: 1 / 3;
  grid-row: 1;
}
.bold{
  font-weight: bold;
}

.about {
  background: url('./images/image3.jpeg');
   background-size:cover;
  grid-column: 1;
  grid-row: 2;
}
.benefits{
   list-style-type: disc;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 35px;   
}
.info-wrapper {
  position: absolute;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 20% 20%;
width: 65%;
height: 45%;
-webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.75);
}
.contact-box{
  width: 30%;
  color: white;
}
.info-box{
  background: #fff;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;  
  font-size: .8em;
  /* margin: 0 0 0 35%; */
}
.name-box{
  margin: 0 0 35px 0;
  color: black;
  width: 70%;
  height: 40px;
  /* background: grey; */
}
.name-box h2{
  padding: 7px 5px;
}
.contact-box li{
  padding: 5px 0;
}
.extra-box{
  font-family: "Open Sans", sans-serif;  
  color: black;
  max-width: 70%;
  margin: 16% 0 0 15%;
}
.extra-box a {
  text-decoration: none;
  color: #fff;
}
.history{
  margin: -70px 0 0 0;
}

.bluetext{
  color: #0D3FA2;
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 15px 0;
}
.subtext3 {
  font-family: "Open Sans", sans-serif;  
  line-height: 27px;
  font-size: 16px;
  max-width: 500px;
}


.navBars{
  display: none;
}
.about2 {
  background: url('./images/image2.jpeg');  
  background-size:cover;
  grid-column: 2;
  grid-row: 2;
  color: black;
  display: flex;
  align-content: flex-end;
}
.about3{
 background: #fff;
grid-column: 2;
grid-row: 2;
}


.contact {
   background: linear-gradient(to bottom, #0d3fa2 0%, #660066 100%);
  background-size:cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  grid-column: 1 ;
  grid-row: 3;
}
.contact-box{
  display: flex;
  flex-direction: column;
  width: 50%;



}
.contact-box h2{
  font-size: 40px;  
  margin: 10px 0 10px 0;
}
.contact-list{
list-style-type: disc;
line-height: 40px;
}

#cTitle{
  position: absolute;
  color: black;
  background: #0D3FA2;
}
/* .contactPic {
  background: url('./images/image4.jpeg');
   background-position: 50% 50%;  
  color: black;
  grid-column: 1/3;
  grid-row: 3;
} */
.form-container{
  width: 50%;
  margin: 40px auto;
}
.form-container h1{
  color: #fff;
  font-size: 40px;
  margin: 0 0 10px 0;
}
form{
  /* font-size: 12px; */
color: #fff;
}
label{
  margin: 0 0 10px 0;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px){

.pMobile{
  display: none;
}
}
@media only screen and (max-width: 660px) {
  .intro {
  background: url('./images/image5.jpeg');
     background-size:cover;
     background-position: center;
  grid-column: 1 / 3;
  grid-row: 1;
}
  .about{
  grid-column: 1/3;
  grid-row: 2;
  }
  .about2 {
display: none;
}
.about3{
  display: none;
}
.pMobile{
  background: #fff;
  grid-column: 1/3;
  grid-row: 3;
}
.contact {
    /* color: #0D3FA2; */
    
  background-size:cover;
  grid-column: 1/3;
  grid-row: 4;
}
#cTitle{
  color: #0D3FA2; 
}
.contactPic {
  display: none;
  /* background: url('./images/image4.jpg');
   background-position: center;  
  color: black;
  grid-column: 2;
  grid-row: 3; */
}
    .title-box {
  margin: 25% 0 2% 4%;
  padding: 0 0 10px 0;
  border-bottom: solid 5px #A27000;
  width   : 45%; 
}
.big-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -2px;
  line-height: 30px;
  color: white;
}
nav {
  display: none;
  /* position: fixed;
  margin: 0 0 0 0;
  display: flex;
  width: 100vw; */
}
.navBars{
   position: fixed;
  display: flex;
  justify-content: flex-end;
  background: rgba(22, 22, 22, 0.5);
  width: 100vw;

}
.fa-bars{
  color: #A27000;
  font-size: 2.3em;
  margin: 0 5px 0 0;
}
.dropdown{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  /* left: 320px; */
  display: flex;
   background: linear-gradient(to bottom, #0d3fa2 0%, #660066 100%);

}
.dropdown ul{
  color: transparent;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}
.dropdown a {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
  color: #A27000;
}
.x{
  position: absolute;
}
.fa-times{
  color: #A27000;
   font-size: 2em;
  margin: 10px 15px 0 0;
   
  
}

.btn2{
  display: none;
}
.contact {
  height: 100%;
   background: linear-gradient(to bottom, #0d3fa2 0%, #660066 100%);

}

.info-wrapper {
  position: absolute;
  z-index: 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background: none;
  margin: 30% 0 0 0;
width: 120%;
height: 45%;
-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}
.info-box{
  background: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0;  
  margin: 10px 0 0 5px;
  font-size: 1em;
}
.info-box h1{
  margin: 0 0 0 -77px;
}

.form-container h1{
  font-size: 24px;

}
.contact-box{
  display: flex;
  background: none;
  /* flex-direction: column;
  font-size: 18px;
  align-items: center; */
  width: 100%;
  max-width: 70%;
  margin: 10% 0 0 -10%;
  color: #fff;
}

.contact-box h2{
  font-size: 24px;
  color: #fff;
}
.contact-list{
  font-size: 20px
}



} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  .App {


}
}